<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.csp.github.tenant.mapper.TenantPermissionMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.csp.github.tenant.entity.TenantPermission">
        <id column="id" property="id" />
        <id column="tenant_id" property="tenantId" />
        <result column="pid" property="pid" />
        <result column="name" property="name" />
        <result column="value" property="value" />
        <result column="icon" property="icon" />
        <result column="type" property="type" />
        <result column="uri" property="uri" />
        <result column="status" property="status" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
        <result column="sort" property="sort" />
    </resultMap>

</mapper>
