<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.csp.github.rabc.mapper.AdminUserMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.csp.github.rabc.entity.AdminUser">
        <id column="id" property="id" />
        <result column="username" property="username" />
        <result column="password" property="password" />
        <result column="name" property="name" />
        <result column="salt" property="salt" />
        <result column="mobile" property="mobile" />
        <result column="description" property="description" />
        <result column="deleted" property="deleted" />
        <result column="enabled" property="enabled" />
        <result column="account_non_expired" property="accountNonExpired" />
        <result column="credentials_non_expired" property="credentialsNonExpired" />
        <result column="account_non_locked" property="accountNonLocked" />
        <result column="created_time" property="createdTime" />
        <result column="updated_time" property="updatedTime" />
        <collection property="roles" ofType="com.csp.github.rabc.entity.Role">
            <id column="role_id" property="id"/>
            <result column="role_code" property="code" />
            <result column="role_name" property="name" />
            <result column="role_description" property="description" />
            <result column="role_created_time" property="createdTime" />
            <result column="role_updated_time" property="updatedTime" />
        </collection>
        <collection property="permissions" ofType="com.csp.github.rabc.entity.Permission">
            <id column="permission_id" property="id" />
            <result column="permission_name" property="name" />
            <result column="permission_url" property="url" />
            <result column="permission_method" property="method" />
            <result column="permission_version" property="version" />
            <result column="permission_description" property="description" />
            <result column="permission_created_time" property="createdTime" />
            <result column="permission_updated_time" property="updatedTime" />
        </collection>
    </resultMap>


    <select id="getUserInfoWithRolesAndPermissions" resultMap="BaseResultMap">
        SELECT
            u.*,
            r.id as role_id,
            r.code as role_code,
            r.name as role_name,
            r.description as role_description,
            r.created_time as role_created_time,
            r.updated_time as role_updated_time,
            p.id as permission_id,
            p.name as permission_name,
            p.url as permission_url,
            p.method as permission_method,
            p.version as permission_version,
            p.description as permission_description,
            p.created_time as permission_created_time,
            p.updated_time as permission_updated_time
        FROM
            `admin_user` u
        LEFT JOIN
            `user_role_relation` urr
        ON
            u.id = urr.user_id
        LEFT JOIN
            `role` r
        ON
            r.id = urr.role_id
        LEFT JOIN
            `role_permission_relation` rpr
        ON
            rpr.role_id = r.id
        LEFT JOIN
            `permission` p
        ON
            p.id = rpr.permission_id
        WHERE u.id = #{id}
    </select>



</mapper>
